/*
COLOR PALETTE:

Primary(Black)- #222831;
Secondary(Yellow)- #FFD369;
Dark Grey - #393E46;
Light Grey - #EEEEEE;
 */

/* General Styles */
body {
  padding: 0;
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr minmax(min-content, 80%) 1fr;
  /* width: 100vw; */
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

header {
  grid-area: header;
  background-color: #393e46;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #393e46;
}

header,
main,
footer {
  padding: 1rem 5%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}

/* Helper Classes */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 5%; */
}

.logo a {
  color: #eee;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.6rem;
}

nav ul {
  list-style: none;
}

li {
  display: inline-block;
  font-size: 1.4rem;
}

li:not(:last-child) {
  margin-right: 1rem;
}

li a {
  color: #ffd369;
}

/* Main Styles */

/* About me section */
#about-me {
  display: flex;
  height: 40vh;
  justify-content: space-between;
}
.about-me-left {
  width: 55%;
}

.about-me-description {
  line-height: 1.8rem;
  font-size: 1.2rem;
  text-align: justify;
}

.about-me-codecademy:link,
.about-me-codecademy:visited,
.about-me-contact-link:link,
.about-me-contact-link:visited {
  color: #ffd369;
  background-color: #393e46;
  padding: 0 0.5rem;
}

.about-me-codecademy:hover,
.about-me-codecademy:active,
.about-me-contact-link:hover,
.about-me-contact-link:active {
  background-color: #ffd369;
  color: #393e46;
}

.about-me-right {
  /* flex: 5; */
  /* height: 100%; */
  border: 6px solid tomato;
  border-radius: 50%;
}

.author-img {
  display: block;
  width: 40vh;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
}

/* Projects */
#projects {
  background-color: #ffd369;
  border-radius: 0.75rem;
  margin: 4rem auto;
}

.projects-wrapper {
  background-color: #393e46;
  /* border-radius: 0.55rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.project-card {
  background-color: #eee;
  height: 20rem;
  width: 22%;
  border-radius: 0.35rem;
  overflow: hidden;
}

/* .btn {
  width: 40%;
  background-color: #eee;
  margin: 1rem auto 0 auto;
  display: block;
  border: none;
  border-radius: 0.75rem;
  padding: 2rem;
  font-size: 1.5rem;
  color: #222831;
  font-family: "Libre Baskerville";
  transition: all 0.4s ease-in;
}

.btn:hover {
  background-color: #ffd369;
} */

.btn,
.btn:link,
.btn:visited {
  font-family: "Libre Baskerville";
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn-see-more {
  background-color: #ffd369;
  color: #393e46;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(255, 211, 105, 0.2);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(255, 211, 105, 0.2);
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 5%;
  /* background-color: #393e46; */
}

/* Footer Styles */
footer {
  /* padding: 1rem 5%; */
  text-align: center;
  color: #eee;
}

#author a,
#codecademy a,
.footer-link {
  font-size: 1.2rem;
  color: #ffd369;
}

.footer-link {
  background-image: linear-gradient(to right, #eee, #eee 50%, #ffd369 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.7s ease-in-out;
}

.footer-link:before {
  content: "";
  background: #ffd369;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  background-position: 0;
}

.footer-link:hover::before {
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  .logo a {
    font-size: 1.4rem;
  }

  header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  ul {
    /* margin-block-start: 0; */
    padding-inline-start: 0;
  }

  li {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}
